# Python
__pycache__/
*.pyc

# Virtual environments
**/venv/

# Runtime files
**/media/
**/staticfiles/

# Node modules
**/node_modules/

# Environment files

autoenv
#venv
**/venv/


# OS artifacts
.DS_Store
