# Python
__pycache__/
*.pyc

# Virtual environments
**/venv/

# Runtime files
**/media/
**/staticfiles/

# Node modules
**/node_modules/

# Environment files

autoenv
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test    
#venv
**/venv/

# SQLite dev databases
*.sqlite3


# OS artifacts
.DS_Store
