files:
  "/etc/awslogs/config/eb-docker.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/eb-docker/containers/eb-current-app/*]
      log_group_name=/aws/elasticbeanstalk/minmin-app/containers
      file=/var/log/eb-docker/containers/eb-current-app/*.log
      retention_in_days=14
